body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}
.cell {
  font-size: 80px;
  padding: 5px 20px;
  height: 130px;
  width: 130px;
  background-color: rgb(115, 183, 204);
  border-style: outset;
}

h1 {
  font-size: 50px;
}

#reset {
  margin-top: 50px;
  font-size: 20px;
  padding: 5px;
}
